.page__footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(229, 229, 229);
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer-text{
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}

.footer-link{
    text-decoration: none;
    font-size: 14px;
    color: #f38181;
    line-height: 18px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
}

.footer-link{
    display: inline-block;
}

.box-footer{
    border-top: 1px solid rgb(229, 229, 229);
}

form{
    display: flex;
    height: 40px;
}

.btn-subscribe{
    border: none;
    font-size: 14px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(149, 225, 211);
    padding: 14px 33px;
    text-transform: uppercase;
    cursor: pointer;
}

input::placeholder{
    border: 1px solid rgb(229, 229, 229);
    font-size: 15px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: rgb(229, 229, 229);
    font-style: italic;
    border: none;
}

input{
    width: 230px;
    padding-left: 10px;
    line-height: 24px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #333333;
}
