.container{
  width: 1200px;
  margin: 0 auto;
}

.site__logo{
  color: snow;
  font-size: 30px;
  font-family: $main-font;
  font-weight: 700;
  line-height: 1.2;
}

.caption-section{
  background-image: linear-gradient(to top, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url(../images/image/layer2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution 192dpi), (min-resolution 2dppx){
  .caption-section{
    background-image: linear-gradient
      (to top, rgba(252,227,138,0.9), 
    rgba(243,129,129,0.9)),        
      url(../img/image/layer1@2x.png);
  }
}  

.page-header{
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 40px; 
}

.page-header,
.container,
.main-menu,
.site-navigation__list,
.box-nav__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu{
  min-width: 630px;
}


.site-navigation__list{
  min-width: 493px; 
}

.site-navigation__link{
  color: snow;
  font-size: 14px;
  font-family: $main-font;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 9px;
}

.site-navigation__link:after{
  display: block;
  content: "";
  width: 100%;
  margin: 0 auto;
  height: 3px;
  background-color: $orange-color;
  margin-top: 6px;
  opacity: 0;
}

.site-navigation__link:hover{
  color: $orange-color;
}

.site-navigation__link:hover::after{
  opacity: 1;
}


.box-nav__list-cart,
.box-nav__list-search{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.box-nav__list-icon{
  fill: snow;
  width: 18px;
  height: 16px;
}

.box-nav__list-icon:hover{
  fill: $orange-color;
}

.box-nav__list{
  width: 86px;
}