.caption-section{
  height: 100vh;
  text-align: center;
  padding-top: 237px;
  padding-bottom: 240px;
  background-image: linear-gradient(to top, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%), url(../images/image/bground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__desk{
    font-size: 72px;
    line-height: 1.2;
    font-family: $second-font;
    font-weight: 400;
    padding-bottom: 50px;
    color: snow;
  }

  &__title{
    font-size: 150px;
    font-family: $main-font;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 821px;
    margin: 0 auto;
    padding-bottom: 135px;
    color: snow;
  }
  
  &__link{
    display: inline-block;
    color: snow;
    padding: 12px 30px;
    color: snow;
    border: 3px solid snow;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    font-family: $main-font;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  @media (min-resolution: 192dpi){
    background-image: linear-gradient (to top, rgba(252,227,138,0.9),rgba(243,129,129,0.9)), url(../img/image/bground@2x.jpg);
  } 
}

