/*-----текст который необходим -----*/
html{
  box-sizing: border-box;
}

*,
*::before, 
*::after{
	box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}
/* ----- начинается моя работа -------*/
/* ---- начинаю делать с подготовки страницы и шапки сайта -----*/
/*---поместил страницу по центру вью порта----*/
.container{
  width: 900px;
  margin: 0 auto;
}
/*---подключил основной текст ---*/
body{
  margin: 0;
  padding: 0;
  font-family:"Open Sans" serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
/*=== SITE NAVIGATION ===*/


/*--обнулил */
.page-nav{
  margin: 0;
  padding: 0;
}

.page-header{
  padding-top: 77px;
  padding-bottom: 103px;
}
/*--задаю размер букв и удаляю точки меню навигации--*/
.site-navigation{
  font-size: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 900px;
  text-align: center;
  background-color: #ffffff;
}
/*---работаю со ссылками в меню навигации--*/
.site-navigation a {
  font-size: 14px;
  display: block;
  color: #626262;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24px;
}
.site-navigation a:hover,
.site-navigation a:focus{
  color:#f80a0a
}


/* --работа с выравниванием навигации--*/
.site-navigation li {
  font-size: 14px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.site-navigation li:not(:last-child){
margin-right: 50px;
}

  /*===начинаю работать с основными закладками===*/
  /* ---редактирую текст в основных блоках---*/
  .bookmark-list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .bookmark-item h3{
    color: #626262;
    line-height: 36px;
    font-weight: 400;
    font-size: 30px;
  }
  
  .bookmark-deskription{
    font-family:"Ubuntu", sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 17px; 
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
  }

  /*--начинаю выравнивать закладки---*/
  .bookmark-item{
    width: 420px;
    vertical-align: top;
    display: inline-block;
    }
    
    .bookmark-item:not(:nth-child(2n)){
      margin-right: 60px;
    }
    .bookmark-item:nth-child(-n + 4){
      margin-bottom: 140px;
    }

  .container{
    position: relative;
  }

 .bookmark-link{
    margin: 0;
    margin-bottom: 32px;
  }

  .bookmark-title{
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
    line-height: 36px;
  }

  .bookmarks-text{
    padding: 0;
    margin: 0;
    font-family:"Open Sans" serif;
    font-size: 14px;
    margin-bottom: 140px;
  }
  .bookmarks-text:nth-last-child(-n + 2){
    margin-bottom: 0;
  }


/*=== КНОПКА ===*/

.upload{
  
  border: none;
  padding: 17px 33px;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-family: serif;
  cursor: pointer;
  margin: 70px 0 57px;
  }

.button{
  text-align: center;
}

.button :hover,
.button :focus{
  color:#f80a0a
}