%align{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%background{
    background-position: center;
    background-color: red($color: #000000);
    background-size: cover;
}